.signup-body{
  background-color: #f0f2f5;
  margin-top: -8px;

  .signup-container{

    background-color: #3e3b3b99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1212;

  }
  .form-container{
    width: 501px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #ebe8e8;
    padding: 14px 0 16px 0;
    border-radius: 11px;

    h1{
      color: #818181;
      padding-bottom: 13px;
    }
    #close{
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 22px;
    }
  }
  .two{
    margin: 10px auto;
  }

  input {
    background-color: #f5f6f7 !important;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 16px;
    padding: 11px;

    &:first-child{
      margin-right: 10px;
    }
  }
  label{
  position: absolute;
  opacity:50%
  }
  
  #sexe{
    margin-right: 10px;
  }
  select{
    margin-top:26px;
    background-color: white !important;
    color: #6f7070;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    font-size: 16px;
    padding: 11px;
    width: 206px;

  }
  button{
    font-size: 16px;
    padding: 11px;
    width: 220px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #00a400;
  } 
}